<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="Descrption" content="Web development">
        <title>
            Homepage
        </title>
        
        
       
    </head>

    
    <body>
        <h1>Welcome to our company.</h1>
        <form>
            <a href="reservation-and-delivery.html"><img src="pizza-hut.jpg" alt="room reservation and pizza delivery"></a> 
            <button>
                <a href="jobapp.html">Fill your application</a> 
            </button>
        </form>
        <a href="Feedback.html">Give us your Feedback</a>
        

    </body>
    </html>